################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Shapes/bin/Debug
/Shapes/obj
/Shapes.Tests/bin/Debug
/Shapes.Tests/obj/Debug
/Shapes.Tests/obj/Release
